//color fondo
$background-color: rgb(233, 202, 162);
//estilo de los links navegadores
$color: orange;
$color: #333333;
//titulo principal del header de todo el sitio web
$color: rgb(18, 131, 93);
//body
$background-color2: bisque;
//main
$color: black;
//main ,seccion div y footer
$color: whitesmoke;
//parrafos
$color: brown;
$color: violet;
//section
$background-color3:beige;
//@media screen and (min-width: 600px) main
$background-color4: darkturquoise;
//@media screen and (min-width: 1024px) main
$background-color5: forestgreen;
